html { 
  background: url("../images/concierto_bg.jpg") repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
	background-color: transparent !important;
	font-family: 'Cormorant Upright', serif;
	font-size: 16px;
}

.card-concert
{
	background-color: rgba(0,0,0,0.4);
}

input[type=text],
input[type=email],
input[type=number],
input[type=submit],
button
{
	font-size: 22px;
}

h1,h2,h3
{
	font-family: 'Kalam', cursive;
}

.nav-link
{
	font-size: 20px;
	color: yellow !important;
}

.navbar-brand
{
	color: #222;
	font-size: 24px;
	font-family: 'Righteous', cursive;
}